.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #FFD59E;
  align-items: center;
  justify-content: center;

  .loginWrapper{
    width: 25%;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 3px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .title{
      font-size: 24px;
      font-weight: 300;
    }

    .input{
      flex: 1;
      min-width: 40%;
      margin: 10px 0;
      padding: 10px;
    }

    button{
      width: 40%;
      border: none;
      padding: 15px 20px;
      background-color: teal;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;

      &:disabled {
        color: green;
        cursor: not-allowed;
      }
    }

    .error{
      color: white;
      background-color: red;
    }
  }
}